{% extends "base.html" %}

{% block  content %}
    {% comment %} <h1>Login User</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Login</button>
    </form> {% endcomment %}
    <div class="flex">
        <div class="flex-1 space-y-10 p-4 bg-blue-200">
            <h2 class="w-full text-center">Login</h2>
        </div>

        <div class="flex-1 space-y-10 p-4 bg-green-200">
            <h2>Register</h2>
        </div>
    </div>

    {% comment %} <div class="flex">
        <div class="flex-1 bg-blue-200 p-4">
          <!-- Content for the first div -->
          This is the first div.
        </div>
        <div class="flex-1 bg-green-200 p-4">
          <!-- Content for the second div -->
          This is the second div.
        </div>
      </div> {% endcomment %}
      
    
{% endblock  %}


